# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
env/
.venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Backend environment
backend/.env

# Root/local environment
.env
venv

# Large local datasets (never commit!)
datasets/
data/

# Ignore Python virtual environments
ml-server/venv/

# Ignore Python cache
__pycache__/
*.pyc